<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>

      </button>
      <a class="navbar-brand" href="/">Ecommerce</a>
    </div>

    <ul class ="nav navbar-nav navbar-left">
      <li><a href ='/signup' class="dropdown-toggle" data-toggle="dropdown">Categories</a>
        <ul class="dropdown-menu">
          <% for(var i=0;i< categories.length;i++) {%>
          <li><a href ='/signup'><%= categories[i].name %></a>
          <% } %>
        </ul>
      </ul>
<ul class ="nav navbar-nav navbar-right">
    <% if(!user) { %>

      <li><a href ='/signup' class="dropdown-toggle" data-toggle="dropdown">SignUp/Login</a>
        <ul class="dropdown-menu">
          <li><a href ='/signup'>SignUp</a>
          <li><a href ='/login'>Login</a>
        </ul>


    <% } else { %>


      <li><a href ='/signup' class="dropdown-toggle" data-toggle="dropdown"><%= user.profile.name %></a>
        <ul class="dropdown-menu">
          <li><a href ='/profile'>Profile</a>
          <li><a href ='/update-profile'>Update Profile</a>
          <li><a href ='/logout'>Logout</a>
        </ul>

    <% } %>
    </ul>
  </div>
</nav>
